<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/jquery.js"></script>

    <style>
        .btn {

            margin-top: 10px;
        }

        .info{
            margin-top: 15px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if request.user.username %}

                    <li><a href="/{{ request.user.username }}/"><span class="glyphicon glyphicon-user"></span>{{ request.user.username }}</a></li>
                    <li><a href="/background/">后台管理</a></li>
                    <li><a href="/logout/">注销</a></li>
                {% else %}
                    <li><a href="/login/">登陆</a></li>
                    <li><a href="/register/">注册</a></li>

                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">...</p>
                </a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">...</p>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="article_item"></div>
            {% for acticle in arcicle_list %}
                <h5><a href="/{{ acticle.user }}/articles/{{ acticle.pk }}/">{{ acticle.title }}</a></h5>

                <div>

                    <span class="media-left"><a href="/{{ acticle.user }}/"><image width="60" height="60"
                                                               src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1367913442,1399721531&fm=115&gp=0.jpg"></image></a></span>
                    <span class="media-right">
                        {{ acticle.desc }}
                    </span>
                </div>

                <div class="info small">
                    <span><a href="/{{ acticle.user }}/">{{ acticle.user.username }}</a></span>&nbsp;&nbsp;
                    发布于<span>{{ acticle.create_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;<a href="{{ acticle.user }}/articles/{{ acticle.pk }}">评论数({{ acticle.comment_count }})</a>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<a href="{{ acticle.user }}/articles/{{ acticle.pk }}">点赞数({{ acticle.up_count }})</a>


                </div>
                <hr>



            {% endfor %}


        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">...</p>
                </a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">...</p>
                </a>
            </div>
        </div>
    </div>

</div>


</body>
</html>